html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  word-break: break-all;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  font-size: 10px;
}

@media (max-width: 767px) {
  .html {
    scroll-padding-top: 50px;
  }
}
body {
  font-family: "YuMincho", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
  color: #000;
  line-height: 1.5625;
  letter-spacing: 0;
}

.inner {
  max-width: 92rem;
  margin-inline: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
#container {
  width: 100%;
  overflow: hidden;
}

.section-title {
  text-align: center;
}
.section-title h2 {
  color: #4d9600;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.3em;
}
.section-title p {
  font-size: 2rem;
  line-height: 1.65;
  font-weight: 500;
  letter-spacing: 0.3em;
  padding-top: 0.6rem;
}

.bg-color {
  background-color: rgba(77, 150, 0, 0.1);
}

.bg-white {
  background-color: #fff;
}

.header {
  height: 8rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding-inline: 3rem;
}
.header .inner {
  height: 100%;
}

@media (max-width: 767px) {
  .header {
    height: 5rem;
    padding-inline: 2rem;
  }
  .header .inner {
    height: 5rem;
  }
}
.header__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 100%;
}

.header-logo__text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo__text a {
  font-size: 2rem;
  line-height: 1;
}

.hamburger {
  position: relative;
  display: block;
  width: 7.2rem;
  height: 5rem;
  margin-left: auto;
  background-color: #fff;
}

.header-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.2608695652vw;
     -moz-column-gap: 3.2608695652vw;
          column-gap: 3.2608695652vw;
}
.header-nav__items a {
  font-size: 1.8rem;
  line-height: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fv-content {
  position: relative;
}

.fv-image img {
  aspect-ratio: 1080/800;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .fv-image img {
    aspect-ratio: 375/601;
  }
}
.fv-content__text {
  position: absolute;
  top: 31.3888888889vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
  width: 100%;
}
.fv-content__text p {
  color: #fff;
  font-size: 3.7037037037vw;
  line-height: 1.75;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-align: center;
}

@media (max-width: 767px) {
  .fv-content__text {
    top: 58.4vw;
  }
  .fv-content__text p {
    font-size: 8vw;
    line-height: 2;
  }
}
.about-content {
  position: relative;
}

.about-image img {
  aspect-ratio: 1080/500;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .about-image img {
    aspect-ratio: 375/584;
  }
}
.about-text {
  position: absolute;
  z-index: 99;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 13.8888888889vw;
  padding-top: 10.1851851852vw;
}
.about-text-title {
  font-size: 3rem;
  margin-left: 5.5555555556vw;
}
.about-text-title p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.about-text-desc {
  font-size: 1.8rem;
}
.about-text-desc p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 4.4444444444vw;
}

@media (max-width: 767px) {
  .about-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: initial;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 13.3333333333vw;
  }
  .about-text-title {
    font-size: 6.6666666667vw;
    margin-left: initial;
    letter-spacing: 1rem;
  }
  .about-text-desc {
    margin-top: 6.4vw;
    font-size: 1.6rem;
    line-height: 10rem;
    letter-spacing: 0.5rem;
  }
}
.service {
  padding: 8rem 3rem;
}
.service-content {
  padding-top: 6.8rem;
  position: relative;
}

.service-image {
  margin-right: 34.7826086957%;
  padding-bottom: 9.5rem;
}
.service-image img {
  aspect-ratio: 600/300;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-image-text {
  margin-top: 1.9rem;
}
.service-image-text p {
  font-size: 1.6rem;
  line-height: 1.5625;
}

.service-text {
  position: absolute;
  background-color: #4d9600;
  right: 0;
  bottom: 0;
  left: 42rem;
  color: #fff;
  z-index: -1;
}
.service-text-inner {
  margin-left: 25rem;
  margin-top: 5rem;
  margin-bottom: 4.2rem;
}
.service-text-title p {
  font-size: 2.5rem;
  line-height: 1.32;
}
.service-text-desc {
  margin-top: 1.7rem;
}
.service-text-desc p {
  font-size: 1.6rem;
  line-height: 1.5625;
}

.works {
  padding: 8rem 3rem 9.7rem;
}
.works-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6.8rem;
  -webkit-column-gap: 4.347826087vw;
     -moz-column-gap: 4.347826087vw;
          column-gap: 4.347826087vw;
}
.works-image {
  aspect-ratio: 200/200;
  -o-object-fit: cover;
     object-fit: cover;
}
.works-text {
  margin-top: 1.9rem;
}
.works-text p {
  font-size: 1.6rem;
  line-height: 1.5625;
}

@media (max-width: 767px) {
  .works {
    padding: 5rem 2rem 4.2rem;
  }
  .works-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3.8rem;
    row-gap: 2.2rem;
    -webkit-column-gap: initial;
       -moz-column-gap: initial;
            column-gap: initial;
  }
  .works-image {
    aspect-ratio: 315/250;
  }
  .works-text {
    margin-top: 0.9rem;
  }
}
.news {
  padding: 8rem 3rem;
}
.news-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6.8rem;
  -webkit-column-gap: 6rem;
     -moz-column-gap: 6rem;
          column-gap: 6rem;
}
.news-contents-index {
  background-color: #4d9600;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
}
.news-contents-index p {
  color: #fff;
  font-size: 2rem;
  line-height: 1.65;
}

@media (max-width: 767px) {
  .news {
    padding: 5rem 2rem;
  }
  .news-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5rem;
  }
}
.news-info-items {
  border-bottom: 1px solid #55A500;
  margin: 2rem;
  max-width: 43rem;
}

.news-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1.3rem;
}
.news-info-item time {
  font-size: 1.6rem;
  line-height: 2.0625;
  display: block;
  width: 12.2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.news-info-item .news-info-text p {
  font-size: 1.8rem;
  line-height: 1.3888888889;
}

@media (max-width: 767px) {
  .news-info-item time {
    width: 7.7rem;
  }
}
.button {
  text-align: right;
  padding-bottom: 3.1rem;
  padding-right: 5.3rem;
}
.button a {
  color: #55A500;
  position: relative;
}
.button a::after {
  content: "";
  position: absolute;
  right: -3.3rem;
  bottom: -1.1rem;
  display: inline-block;
  width: 8rem;
  height: 1.8rem;
  background-image: url(../images/arrow.svg);
}

.company {
  padding: 8rem 3rem;
}
.company-contents {
  margin-top: 6.8rem;
  margin-bottom: 6.2rem;
  position: relative;
}
.company-contents .company-map {
  height: 43.4782608696vw;
  max-height: 40rem;
  width: 65.2173913043vw;
  max-width: 60rem;
}
.company-contents .company-map iframe {
  aspect-ratio: 600/400;
  width: 100%;
  height: 100%;
  display: block;
}
.company-contents .company-summary {
  position: absolute;
  height: 28.4782608696vw;
  max-height: 26.2rem;
  width: 54.347826087vw;
  max-width: 50rem;
  bottom: -6.2rem;
  right: 0;
  background-color: #4d9600;
  z-index: -1;
  padding-top: 4.9rem;
  padding-bottom: 4.2rem;
  padding-left: 22rem;
}
.company-contents .company-summary p {
  color: #fff;
}

@media (max-width: 767px) {
  .company {
    padding: 5rem 2rem;
  }
  .company-contents {
    margin-top: 3.8rem;
    margin-bottom: initial;
  }
  .company .company-map {
    height: auto;
    width: 100%;
  }
  .company .company-map iframe {
    aspect-ratio: 315/300;
    width: 100%;
    height: 100%;
    display: block;
  }
  .company .company-summary {
    position: initial;
    width: 100%;
    background-color: #4d9600;
    padding-top: 1.9rem;
    padding-bottom: 1.2rem;
    padding-left: 2rem;
    height: auto;
    max-height: initial;
    max-width: initial;
    margin-top: 2rem;
  }
}
.company-summary-text .address-title {
  font-size: 2rem;
  line-height: 1.65;
}
.company-summary-text .address {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 0.7rem;
}
.company-summary-text .tel {
  margin-top: 1.2rem;
}
.company-summary-text .tel p {
  font-size: 2.5rem;
  line-height: 1;
}
.company-summary-text .tel p span {
  font-size: 1.6rem;
  line-height: 1.5625;
}
.company-summary-text .email {
  margin-top: 1.9rem;
  font-size: 1.6rem;
  line-height: 1.5625;
}/*# sourceMappingURL=style.css.map */